# Project 1

### The situation

Think of yourself, currently working as a Business analyst in one of the top sports company. The senior management team has asked you to come up with metrics with which they can gauge which team will win the upcoming La Liga cup (Football tournament).

The data set contains information on all the teams so far participated in all the past tournaments. It has data about how many goals each team scored, conceded, how many times they came within first 6 positions, how many seasons they have qualified, their best position in the past etc.

### The groundwork

In [1]:
import numpy as np
import pandas as pd

### The tasks

1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [2]:
# pd.read_csv('Laliga.csv')  
# since the header is also considered as a data row, 'header' parameter is to be used to define the same.

laliga_df = pd.read_csv('Laliga.csv',header=1)

In [3]:
# understanding the dataset
laliga_df.info()
laliga_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null object
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null object
GoalsAgainst     61 non-null object
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: int64(3), object(17)
memory usage: 9.6+ KB

             Pos    Seasons  BestPosition
count  61.000000  61.000000     61.000000
mean   31.000000  24.000000      7.081967
std    17.752934  26.827225      5.276663
min     1.000000   1.000000      1.000000
25%    16.000000   4.000000      3.000000
50%    31.000000  12.000000      6.000000
75%    46.000000  38.000000     10.000000
max    61.000000  86.000000     20.000000

In [4]:
laliga_df.head(8)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1

In [11]:
#laliga_df.replace('-', 0 , inplace=True)
#laliga_df_copy = laliga_df.copy()

#laliga_df_copy.info()

laliga_df = laliga_df.applymap(lambda x: np.nan if x=="-" else x)

In [12]:
laliga_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           60 non-null object
GamesPlayed      60 non-null object
GamesWon         60 non-null object
GamesDrawn       60 non-null object
GamesLost        60 non-null object
GoalsFor         60 non-null object
GoalsAgainst     60 non-null object
Champion         9 non-null object
Runner-up        13 non-null object
Third            18 non-null object
Fourth           22 non-null object
Fifth            25 non-null object
Sixth            28 non-null object
T                33 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: int64(3), object(17)
memory usage: 9.6+ KB

In [13]:
laliga_df['Champion'] = pd.to_numeric(laliga_df['Champion'])
laliga_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           60 non-null object
GamesPlayed      60 non-null object
GamesWon         60 non-null object
GamesDrawn       60 non-null object
GamesLost        60 non-null object
GoalsFor         60 non-null object
GoalsAgainst     60 non-null object
Champion         9 non-null float64
Runner-up        13 non-null object
Third            18 non-null object
Fourth           22 non-null object
Fifth            25 non-null object
Sixth            28 non-null object
T                33 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: float64(1), int64(3), object(16)
memory usage: 9.6+ KB

In [14]:
laliga_df.describe()

             Pos    Seasons   Champion  BestPosition
count  61.000000  61.000000   9.000000     61.000000
mean   31.000000  24.000000   9.666667      7.081967
std    17.752934  26.827225  11.618950      5.276663
min     1.000000   1.000000   1.000000      1.000000
25%    16.000000   4.000000   1.000000      3.000000
50%    31.000000  12.000000   6.000000      6.000000
75%    46.000000  38.000000  10.000000     10.000000
max    61.000000  86.000000  33.000000     20.000000

In [15]:
laliga_df.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut',
       'Since/LastApp', 'BestPosition'],
      dtype='object')

In [16]:
for col in ['Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T']:
    laliga_df[col] = pd.to_numeric(laliga_df[col])
laliga_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           60 non-null float64
GamesPlayed      60 non-null float64
GamesWon         60 non-null float64
GamesDrawn       60 non-null float64
GamesLost        60 non-null float64
GoalsFor         60 non-null float64
GoalsAgainst     60 non-null float64
Champion         9 non-null float64
Runner-up        13 non-null float64
Third            18 non-null float64
Fourth           22 non-null float64
Fifth            25 non-null float64
Sixth            28 non-null float64
T                33 non-null float64
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: float64(14), int64(3), object(3)
memory usage: 9.6+ KB

In [17]:
laliga_df.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385.0,2762.0,1647.0,552.0,563.0,5947.0,3140.0,33.0,23.0,8.0,8.0,3.0,4.0,79.0,1929,1929,1
1,2,Barcelona,86,4262.0,2762.0,1581.0,573.0,608.0,5900.0,3114.0,25.0,25.0,12.0,12.0,4.0,6.0,83.0,1929,1929,1
2,3,Atletico Madrid,80,3442.0,2614.0,1241.0,598.0,775.0,4534.0,3309.0,10.0,8.0,16.0,9.0,7.0,6.0,56.0,1929,2002-03,1
3,4,Valencia,82,3386.0,2664.0,1187.0,616.0,861.0,4398.0,3469.0,6.0,6.0,10.0,11.0,10.0,7.0,50.0,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368.0,2762.0,1209.0,633.0,920.0,4631.0,3700.0,8.0,7.0,10.0,5.0,8.0,10.0,49.0,1929,1929,1

2. Print all the teams which have started playing between 1930-1980.

In [18]:
laliga_df['DebutYear'] = [ year.split("-")[0] for year in laliga_df['Debut']]
laliga_df['DebutYear'] = pd.to_numeric(laliga_df['DebutYear'])
laliga_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 21 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           60 non-null float64
GamesPlayed      60 non-null float64
GamesWon         60 non-null float64
GamesDrawn       60 non-null float64
GamesLost        60 non-null float64
GoalsFor         60 non-null float64
GoalsAgainst     60 non-null float64
Champion         9 non-null float64
Runner-up        13 non-null float64
Third            18 non-null float64
Fourth           22 non-null float64
Fifth            25 non-null float64
Sixth            28 non-null float64
T                33 non-null float64
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
DebutYear        61 non-null int64
dtypes: float64(14), int64(4), object(3)
memory usage: 10.1+ KB

In [21]:
laliga_df[laliga_df['DebutYear'].between(1930, 1980)]['Team']

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

3. Print the list of teams which came Top 5 in terms of points

In [22]:
laliga_df.sort_values(by='Points',ascending=False).head(5)['Team']

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference.

In [23]:
# function to return all the teams with their Goal Differences
def Goal_diff_count(df,fromCol,ToCol,diff):
    df[diff] = df[fromCol] - df[ToCol]
    return df
result = Goal_diff_count(laliga_df,'GoalsFor','GoalsAgainst','goal_diff')

In [24]:
#print(max(laliga_df['goal_diff']))
#print(min(laliga_df['goal_diff']))
print("The team with maximum goal difference of",max(laliga_df['goal_diff']),"is",laliga_df.sort_values(by='goal_diff',ascending=True).head(1)['Team'].values[0])
print("The team with minimum goal difference of",min(laliga_df['goal_diff']),"is",laliga_df.sort_values(by='goal_diff',ascending=False).head(1)['Team'].values[0])

The team with maximum goal difference of 2807.0 is Racing Santander
The team with minimum goal difference of -525.0 is Real Madrid

5. Create a new column with name “Winning Percent” and append it to the data set

Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

In [25]:
laliga_df['Percentage of Winning'] = laliga_df['GamesWon']/laliga_df['GamesPlayed']*100

In [26]:
laliga_df['Percentage of Winning'].fillna(0,inplace=True)
laliga_df['Percentage of Winning']
print("The top 5 teams with highest Winning percentage are")
for i in range(0,5):
    print(laliga_df.sort_values(by='Percentage of Winning',ascending=False).head(5)['Team'][i],"with",round(laliga_df.sort_values(by='Percentage of Winning',ascending=False).head(5)['Percentage of Winning'][i],1),"%")

The top 5 teams with highest Winning percentage are
Real Madrid with 59.6 %
Barcelona with 57.2 %
Atletico Madrid with 47.5 %
Valencia with 44.6 %
Athletic Bilbao with 43.8 %

6. Group teams based on their “Best position” and print the sum of their points for all positions

Eg:   
    Best Position         Points

    1                       25000

    2                        7000

In [27]:
print("The sum of all points grouped by 'Best Position' per each 'Best Position' is:")
pd.DataFrame(laliga_df.groupby(by='BestPosition').agg(sum)['Points'])

The sum of all points grouped by 'Best Position' per each 'Best Position' is:

               Points
BestPosition
1             27933.0
2              6904.0
3              5221.0
4              6563.0
5              1884.0
6              2113.0
7              1186.0
8              1134.0
9                96.0
10              450.0
11              445.0
12              511.0
14               71.0
15               14.0
16               81.0
17              266.0
19               81.0
20               34.0